html {
  box-sizing: border-box;
  background-color: #fff;
  font-family: "Merriweather";
  line-height: 1.5;

}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-transform: none;
  font-family: "Merriweather"
  font-size: 1.8
}

main{
  margin: 1rem;
  padding:1rem;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .75rem;
  grid-template-areas:
  "banner banner banner"
  "image1 image2 image3"
  "text1 text2 text3";
}

img {
  width: 100%;
}

.pano{
  grid-column: 1 / -1
}

h2 {
  font-family: "Merriweather";
  font-style:italic;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
